<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fortorol</title>
  </head>
  <body>
<!-- Nav Bar -->
    <nav>
      <a href="/">Home</a>
      |
      <a href="/contact_us">Contact Us</a>
    </nav>
