<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fortorol</title>
  </head>
  <body> -->
<%- include('./partials/header') %>

  <h1> Contact Us </h1>
  <form method="POST">
    <div>
      <label for="fullName">Name</label> <br/>
      <input type="text" name="fullName" id="fullname">
    </div>
    <div>
      <label for="message">Message</label> <br/>
      <textarea
        name="message"
        id="message"
        cols="80"
        rows="8"
        > </textarea>
    </div>
    <div>
      <input type="submit" name="submit">
    </div>
  </form>

<%- include('./partials/footer') %>
  <!-- </body>
</html> -->
