<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fotorol</title>
  </head>
  <body>
    <h2> Thank you, <%= fullName %></h2>
    <p> Your message was:</p>
    <p> <%= message %></p>    
  </body>
</html>
