<%- include('../partials/header') %>

<h1>New Post</h1>

<form action="/posts" method="POST" >
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="pictureUrl"
      placeholder="Picture Url"
      value=""
    >
  </div>
  <!--
  Example of urlencoded data:

  username=steve&content=this+is+my+content
  -->

  <div class="form-group">
    <textarea
      class="form-control"
      rows='5'
      name='description'
      placeholder="What's on your mind?"
    ></textarea>
  </div>
  <input
    class="btn btn-outline-primary"
    type='submit'
    value='Submit'
  />
</form>

<%- include('../partials/footer') %>
